@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: PT Serif, serif;
}

a {
    text-decoration: none;
    color: #0070cc; 
}

html { scroll-behavior: smooth; } 